body{

	background-color: #ff9933;
	font-family: Helvetica;
	font-size: 24pt;
	text-align: center;

}

img {
	height: 175px;
	width: 125px;
	float: left;
	margin-right: 2em;
	margin-left: 2em;
	margin-top: 2em;
	border: 1px solid black;
}









 

